<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" th:src="@{js/react.js}"></script>
	<script type="text/javascript" th:src="@{js/react-dom.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{js/browser.min.js}"></script>
    <script type="text/babel" th:src="@{js/app.js}"></script>
    <link href="@{css/bootstrap.min.css}" rel="stylesheet" />
    <link href="@{css/style.css}" rel="stylesheet" />
</head>
<body>
	<div th:replace="/fragments/header :: header" >Header</div>
	
	<div th:text="${item.id}"></div>
	<div th:text="${item.name}"></div>
	<div th:text="${item.cost}"></div>
	<div th:text="${item.quantity}"></div>
	<div th:text="${item.descr}"></div>

</body>
</html>