<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.avgrund.js}"></script>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/avgrund.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<div class="container">
	
		<!-- user item form -->
		<div th:fragment="userTaskForm">
		
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<table class="table table-bordered table-hover table-striped">
						<thead>
							<tr>
								<th>id</th><th>name</th><th>quantity</th><th>cost</th><th>status</th><th>describe</th><th>date</th><th>user</th><th>total cost</th>
							</tr>
						</thead>
						<tbody th:each="task : ${tasks}">
								<tr>
									<td th:text="${task.id}"></td>
									<td th:text="${task.item.name}"></td>
									<td th:text="${task.quantity}"></td>
									<td th:text="${task.item.cost}"></td>
									<td th:text="${task.status}"></td>
									<td th:text="${task.desribe}"></td>								
									<td th:text="${task.date}"></td>
									<td th:text="${task.user.username}"></td>
									<td th:text="${task.item.cost * task.quantity}"></td>
								</tr>

						</tbody>
					</table>
				</div>
			</div>
		
		</div>
	
	</div>
</body>
</html>