<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.avgrund.js}"></script>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/avgrund.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<div th:replace="/fragments/header :: header" >Header</div>
	
    <form action="#" th:action="@{/api/login/create}" th:object="${registrationForm}" method="post">
    	<label for="username">username</label>
    	<input id="username" type="text" th:field="*{username}" />
    	<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" ></div>
    	<label for="password">password</label>
    	<input id="password" type="password" th:field="*{password}" />
    	<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" ></div>
    	<label for="email">email</label>
    	<input id="email" type="text" th:field="*{email}" />
    	<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></div>
    	<label for="phone">phone</label>
       	<input id="phone" type="text" th:field="*{phone}" />
    	<div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" ></div>
    	<label for="street">street</label>
    	<input id="street" type="text" th:field="*{street}" />
    	<div th:if="${#fields.hasErrors('street')}" th:errors="*{street}" ></div>
    	
    	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    	<input type="submit" value="Sing up" />
    </form>
</body>
</html>